html
   head
      title File uploads
   body
      form(action = "/upload" method = "POST" enctype = "multipart/form-data")
         fieldset
            legend Upload files
            fieldset
               legend Image
               //- div
               //-    input(type = "text" name = "name" placeholder = "Name")
               div
                  p
                  input(type = "file" name = "image")

            fieldset
               legend Audio
               div
                  p
                  input(type = "file" name = "audio")

            div
               input(type = "submit")
